# Uso de la libreria pandas
Aprendiendo a usar pandas correctamente y hacer ejercicios relacionados con la 
libreria pandas

In [21]:
## importamos la libreria pandas
import pandas as pd
df = pd.read_excel("../../Archivos_base/diamantes.xlsx")
df.head(10)
# # esta funcion nos muestra los 5 ultimos datos de nuestro archivo
# df.tail()
# # al igualarlo guarda los datos al valor que se iguala y para imprimir solo  se pondria df
# df = df.sample(frac=1)
# # con esta funcion nos muestra que tipos de variables contiene las columnas
# df.dtypes
# # con esta funcion Nos pone los valores en un arreglo
# df.values

   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7   0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
8   0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
9   0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05  2.39

# Filtrar datos 
Para obtener los valores que necesitemos sin que se muestre lo demas o tambien obtener la informacion completa de alguna
fila y asi poder obtener los datos que sean necesarios para nosotros

In [22]:
df["price"].head()
# # nos ayuda obtener informacion de la fila especificada
# df[0:10]
# # nos muestra los precios que son menores a 1000
# df[df["price"] < 1000].head()
# # Con esta funcion se puede ver si en alguna de nuestras funciones se pierde algun valor o no tiene un valor agregado
# # en este caso nuestros datos estan completos en la columna color
# df[pd.isna(df["color"])]

0    326
1    326
2    327
3    334
4    335
Name: price, dtype: int64

# Transformacion de la base de datos
En esta funcion podremos observar como se crean nuevas columnas o modificar nuestra base de datos dependiendo de las necesidades de nuestra base de datos

In [23]:
## creamos una columna nueva
#df["volumen"] = df["x"] * df["y"] * df["z"]
## Para borrar la columna se hace con 
# del(df ["volumen"])
df.head()
# Para borrar columnas en la base de datos y mostrar solo lo necesario es:
#df.drop(["color", "cut", "carat", "clarity"], axis=1)
# Para que se guarde solo lo igualamos a df y se guardaran los cambios
# df = df.drop(["color", "cut", "carat"], axis=1, inplace=True)
# borar filas  df.drop(fila)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

# Groupby: obtener informacion escencial
esnuna eramienta de resumenes de datos que nos permite resolver operaciones matematicas sencillas